@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Skranji&display=swap');

:root{
    --principal-font:  'Mooli', sans-serif;
    --secondary-font: 'Skranji', cursive;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #2e3b44;
}

.header{
    display: flex;
    width: 100%;
    height: 8%;
    align-items: center;
    justify-content: center;
}

.header__img{
    width: 10%;
    height: 100%;
}

.header__text{
    color: #fff;
    font-family: var(--secondary-font);
    font-size: 32px;
    font-weight: 800;
}

.header__line{
    width: 50%;
}

.container{
    width: 100%;
}

.container__content{
    width: 100%;
    display: flex;
}

.container__content_menu{
    background-color: rgba(54, 76, 91, 0.68);
    height: 70%;
    width: 20%;
}